
.btn{
    padding: 15px 30px;
    margin: 15px;
    border: 0;
    background-color: darkblue;
    color: white;
    font-size: 19px;
}

.close-btn{
    border: 0;
    background-color: transparent;
}

#notification-container{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.notification{
    width: 700px;
    padding: 10px 15px;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe
}

.notification-primary{
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe
}

.notification-secondary{
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.notification-success{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;

}

.d-none{
    display: none;
}
